{% extends 'base.html.twig' %}
{% block body %}
    {# If app.user is null show message for login page #}
    {% if app.user == null %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <p>
                            <strong>
                                You are not logged in! <a href=" {{ path('login')}} ">Please login to continue</a>.
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="container">
    <h1 class="mt-3 mb-4">Vos produits </h1>
    <div class="row">
        {# {% for user in users %} #}
        {% for product in products %}
                            {% if app.user is same as product.creator %}
                                <div class="col-md-4">
                                    <div class="card mb-4">
                                        <img src="https://via.placeholder.com/200x150" alt="name" class="card-img-top">
                                            <div class="card-body">
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <p>{{ product.description }}</p>
                                            <p>{{ product.price }} € </p>
                                            <a href="{{ path('product.detail', { id: product.id }) }}" class="btn btn-dark">Voir   les détails</a>
                                            </div>

                                            <form action="{{ path('product.delete', {'id': product.id}) }}" method="post">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                                <button type="submit" class="btn btn-danger">Supprimer</button>
                                            </form>
                                            <a href="{{ path('product.edit', {'id': product.id}) }}" class="btn btn-primary">Modifier</a>
                                    </div>
                                </div>
                                {% endif %}
                        {% endfor %}
        {# {% endfor %} #}
    </div>
</div>
    {% endif %}

{% endblock %}